#####
#
# Copyright (C) 2004 Gene R Gomez <gene at gomezbrothers dot com>
# All Rights Reserved
#
# This file is part of the Prelude program.
#
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation; either version 2, or (at your option)
# any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program; see the file COPYING.  If not, write to
# the Free Software Foundation, 675 Mass Ave, Cambridge, MA 02139, USA.
#
#####

#####
#
# The rules included here were developed using mod_security 1.7.6 events 
# captured in syslog through the Apache directive 'ErrorLog syslog'.  
# Please report any inconsistencies on other versions to Gene Gomez at the 
# address provided above
#
#####

#LOG:May 10 08:35:36 somehost httpd[24775]: [error] [client 12.34.56.78] mod_security: Warning. Pattern match "/test\.php" at THE_REQUEST.
regex=\[client ([\d\.]+)\] mod_security: Warning. Pattern match "(.+)" at (\S+)\.; \
 classification.text=HTTP $3 "$2"; \
 id=3100; \
 revision=1; \
 analyzer(0).name=mod_security; \
 analyzer(0).manufacturer=www.modsecurity.org; \
 analyzer(0).class=IDS; \
 assessment.impact.severity=medium; \
 assessment.impact.completion=succeeded; \
 assessment.impact.description=mod_security found pattern match "$2" in HTTP object $3.  No reactive action taken.; \
 source(0).node.address(0).category=ipv4-addr; \
 source(0).node.address(0).address=$1; \
 target(0).service.name=http; \
 last

#LOG:May 10 08:36:43 somehost httpd[24776]: [error] [client 12.34.56.78] mod_security: Access denied with code 403. Pattern match "/support/common\.php" at THE_REQUEST.
regex=\[client ([\d\.]+)\] mod_security: Access denied with code (\d+)\. Pattern match "(.+)" at (\S+)\.; \
 classification.text=HTTP $4 "$3" Blocked; \
 id=3101; \
 revision=1; \
 analyzer(0).name=mod_security; \
 analyzer(0).manufacturer=www.modsecurity.org; \
 analyzer(0).class=IDS; \
 assessment.impact.severity=high; \
 assessment.impact.completion=failed; \
 assessment.impact.description=mod_security found pattern match "$3" in HTTP object $4.  Access was blocked with HTTP response code $2; \
 source(0).node.address(0).category=ipv4-addr; \
 source(0).node.address(0).address=$1; \
 target(0).service.name=http; \
 last

#No log sample; please submit
regex=\[client ([\d\.]+)\] mod_security: Access denied with redirect to (\S+)\. Pattern match "(\S+)" at (\S+)\.; \
 classification.text=HTTP $4 "$3" Redirected; \
 id=3102; \
 revision=1; \
 analyzer(0).name=mod_security; \
 analyzer(0).manufacturer=www.modsecurity.org; \
 analyzer(0).class=IDS; \
 assessment.impact.severity=high; \
 assessment.impact.completion=failed; \
 assessment.impact.description=mod_security found pattern match "$3" in HTTP object $4.  Access was redirected to $2.; \
 source(0).node.address(0).category=ipv4-addr; \
 source(0).node.address(0).address=$1; \
 target(0).service.name=http; \
 last

#LOG:May 10 08:36:43 somehost httpd[24776]: [client 200.105.93.115] mod_security: Invalid URL encoding #2 detected.
regex=\[client ([\d\.]+)\] mod_security: Invalid (.+)\.; \
 classification.text=HTTP Invalid $2; \
 id=3103; \
 revision=1; \
 analyzer(0).name=mod_security; \
 analyzer(0).manufacturer=www.modsecurity.org; \
 analyzer(0).class=IDS; \
 assessment.impact.severity=high; \
 assessment.impact.completion=failed; \
 assessment.impact.description=mod_security found "Invalid $2"; \
 source(0).node.address(0).category=ipv4-addr; \
 source(0).node.address(0).address=$1; \
 target(0).service.name=http; \
 last

#####
#
# The rules included here were developed using mod_security 1.8 events
# captured in syslog through the Apache directive 'ErrorLog syslog'.
# Please report any inconsistencies on other versions to Gene Gomez at the
# address provided above
#
#####

#LOG:Jun 16 08:42:23 metatron httpd[10837]: [error] [client 127.0.0.1] mod_security: Warning. Pattern match "/cgforum\\.cgi" at THE_REQUEST [hostname "localhost.localdomain"] [uri "/cgi-bin/cgforum.cgi"] [unique_id Kxq9XgoBSmsAACpVN4MAAAAE]
regex=\[client ([\d\.]+)\] mod_security: Warning. Pattern match "(.+)" at (\S+) \[hostname "(\S+)"\]; \
 classification.text=HTTP $3 "$2"; \
 id=3104; \
 revision=1; \
 analyzer(0).name=mod_security; \
 analyzer(0).manufacturer=www.modsecurity.org; \
 analyzer(0).class=IDS; \
 assessment.impact.severity=medium; \
 assessment.impact.completion=succeeded; \
 assessment.impact.description=mod_security found pattern match "$2" in HTTP object $3.  No reactive action taken.; \
 source(0).node.address(0).category=ipv4-addr; \
 source(0).node.address(0).address=$1; \
 target(0).node.name=$4; \
 target(0).service.name=http; \
 last

#LOG:Jun 16 08:42:23 metatron httpd[10833]: [error] [client 127.0.0.1] mod_security: Access denied with code 403. Pattern match "/bb-replog\\.sh" at THE_REQUEST [hostname "localhost.localdomain"] [uri "/cgi-bin/bb-replog.sh"] [unique_id KxpIRgoBSmsAACpRNmAAAAAD]
regex=\[client ([\d\.]+)\] mod_security: Access denied with code (\d+)\. Pattern match "(.+)" at (\S+) \[hostname "(\S+)"\]; \
 classification.text=HTTP $4 "$3" Blocked; \
 id=3105; \
 revision=1; \
 analyzer(0).name=mod_security; \
 analyzer(0).manufacturer=www.modsecurity.org; \
 analyzer(0).class=IDS; \
 assessment.impact.severity=high; \
 assessment.impact.completion=failed; \
 assessment.impact.description=mod_security found pattern match "$3" in HTTP object $4.  Access was blocked with HTTP response code $2; \
 source(0).node.address(0).category=ipv4-addr; \
 source(0).node.address(0).address=$1; \
 target(0).node.name=$5; \
 target(0).service.name=http; \
 last

#No log sample; please submit
regex=\[client ([\d\.]+)\] mod_security: Access denied with redirect to \[(\S+)\]\. Pattern match "(\S+)" at (\S+) \[hostname "(\S+)"\]; \
 classification.text=HTTP $4 "$3" Redirected; \
 id=3106; \
 revision=1; \
 analyzer(0).name=mod_security; \
 analyzer(0).manufacturer=www.modsecurity.org; \
 analyzer(0).class=IDS; \
 assessment.impact.severity=high; \
 assessment.impact.completion=failed; \
 assessment.impact.description=mod_security found pattern match "$3" in HTTP object $4.  Access was redirected to $2.; \
 source(0).node.address(0).category=ipv4-addr; \
 source(0).node.address(0).address=$1; \
 target(0).node.name=$5; \
 target(0).service.name=http; \
 last

